{% extends "base.html" %} 
    {% block content %}
        <section class="card entries-card" id="entries-card" style="display: none;">
            <div class="section-header">

                {% if section_header %}
                    <div>
                        <h2>{{ section_header }}</h2>

                        {% if section_header_msg %}
                        <p>{{ section_header_msg }}</p>
                        {% endif %}
                    </div>
                {% endif %}

                <div>
                <button id="undo-button" class="saved-button yellow-button scale-in"
                    style="display: none; margin: 5px;">Undo</button>

                <button id="delete-button" class="saved-button red-button scale-in"
                    style="display: none; margin: 5px;">Delete</button>

                <button id="edit-button" class="saved-button blue-button scale-in"
                    style="display: none; margin: 5px;">Edit</button>
                </div>
            </div>

            {% include "income_form.html" %}

            <form id="categories-form" method="POST" action="/categories">
                {% if db_result %}
                <div class="table-wrapper">
                    <table class="entries-table">
                        <thead>
                            <tr>
                                <th class="edits" style="display: none">Edit</th>
                                <th class="edits" style="display: none">ID</th>

                                <th class="tag-income">Category</th>
                                <th class="tag-income">Amount</th>
                                <th class="tag-income">Currency</th>
                                <th class="tag-income">Description</th>
                                <th class="tag-income">Link</th>
                                <th class="tag-income">In RSD</th>
                                <th class="tag-income">Date</th>

                                <th class="tag-expenses">Category</th>
                                <th class="tag-expenses">Name</th>
                                <th class="tag-expenses">Total</th>
                                <th class="tag-expenses">Quantity</th>
                                <th class="tag-expenses">Date</th>

                                <th class="tag-upload">Category</th>
                                <th class="tag-upload">Name</th>
                                <th class="tag-upload">Total</th>
                                <th class="tag-upload">Quantity</th>
                                <th class="tag-upload">Date</th>

                                <th class="tag-wallets">Wallet</th>
                                <th class="tag-wallets">Amount</th>
                                <th class="tag-wallets">Currency</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in db_result %}
                            <tr class="entry-row" data-entry="{{ entry | e }}">
                                <!-- ID selector -->
                                <td class="edits" style="display: none">
                                    <input type="checkbox" onclick="selectID(this)">
                                </td>
                                <!-- ID -->
                                <td class="edits" style="display: none">
                                    <span class="table-value" data-field="id"></span>
                                </td>
                                <!-- Category -->
                                <td>
                                    {% if edit %}
                                    <div class="dropdown">
                                        <button type="button" class="dropbtn">
                                            Select
                                        </button>
                                        <div class="dropdown-content">
                                            {% for cat in categories %}
                                            <a href="#" data-cat="{{ cat }}">
                                                {{ cat }}
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% else %}
                                    <span class="table-value" data-field="categ" style="text-wrap: nowrap"></span>
                                    {% endif %}
                                </td>
                                <!-- expneses table rows -->

                                {% include "expenses_table.html" %}

                                <!-- upload table rows -->

                                {% include "upload_table.html" %}

                                <!-- income table rows -->

                                {% include "income_table.html" %}

                                <!-- wallets table rows -->

                                {% include "wallets_table.html" %}

                                <!-- yep -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if edit %}
                <button class="send-button" type="submit">
                    Save categories
                </button>
                {% endif %}
                {% else %}
                <div class="empty">
                    No entries yet. (fix me!)
                </div>
                {% endif %}
            </form>
        </section>
    {% endblock %}
